
  
@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kanit:wght@500&family=Teko:wght@500&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #e1e1e1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
}

@media only screen and (max-width: 600px) {
  .heading{
    font-size: 1.5em !important;
  }
  .media{
   display: block;
  }
  .lottie{
    display: none;
  }
  
  .text-3xl{
    font-size: 1.5em;
  }
  .rules{
    height: 550px;
    padding: 0;
  }
  .rule{
    margin-top: 2px;
    display: block;
  
  }
.ruleLabel{
  font-size: 16px;

  font-weight: semibold;
  margin: 0;


}
.dash{
display: none;
}
.ruleIcon{
  transform: scale(1);
  min-width: 100%;
 

 
}
}

.heading{
  font-family: 'Black Ops One', cursive;
}